.asteroid {
  position: absolute;
  height: 30px;
  width: 22px;

  &:after {
    content: "O";
    position: absolute;
    color: brown;
    font-size: 30px;
    font-weight: 600;
    font-family: "Major Mono Display", monospace;
    left: 0;
    top: 0;
  }
}
