.shipContainer {
  position: relative;

  .ship {
    position: absolute;
    color: white;
    transition: all 0.05s ease-in-out;
    font-family: "Major Mono Display", monospace;

    &:after {
      content: "A";

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(90deg);
      height: 21px;
      width: 22px;
      font-size: 30px;
      line-height: 19px;
      color: yellow;
    }

    .thrust {
      display: none;
      transition: all 0.3 ease;

      &.visible {
        display: block;
      }

      &:after {
        content: "Â";
        font-size: 16px;
        color: red;
        position: absolute;
        transform: rotate(90deg);
        top: -8px;
        left: -27px;
        font-weight: 600;
      }
    }

    .status {
      display: none;
      position: absolute;
      top: 10px;
      left: 0;
      font-size: 8px;
      color: white;
    }
  }
}
