.shipContainer {
  position: relative;

  .ship {
    position: absolute;
    color: white;
    transition: all 0.05s ease-in-out;

    &:after {
      font-family: "Major Mono Display", monospace;
      content: "A";

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(90deg);
      height: 21px;
      width: 22px;
      font-size: 30px;
      line-height: 19px;
      color: yellow;
    }

    .status {
      display: none;
      position: absolute;
      top: 10px;
      left: 0;
      font-size: 8px;
      color: white;
    }
  }
}
